<!DOCTYPE html>
<html lang="en"  xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CricInfo-Admin</title>
</head>
<body>
<table>
  <thead>
  <th>Id</th>
  <th>Name Of The Player</th>
  <th>Action</th>
  </thead>
    <tbody >
    <tr th:each="profile:${profiles}">
        <td>
            <span th:text="${profile.personalDetails.id}">Id</span>
        </td>
        <td>
            <span th:text="${profile.personalDetails.name}">Name Of The Player</span>
        </td>
        <td>
            <a href="/delete/7">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
       <div>
           <a href="http://localhost:8080/personaldetails">Add Player</a>
       </div>
</body>
</html>