<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>CricInfo</title>
    <link rel="stylesheet" type="text/css" href="@{/Demo.css}">
</head>
<body>
<div class="Container">
    <div class="Cricinfo">
        Cricinfo
    </div>
    <div class="tablecontainer">
        <div class="left">
            <h2>Personal Details</h2>
            <table>
                <tr>
                    <th>Name        :</th>
                    <td th:text="${profile.personalDetails.name}"></td>
                </tr>
                <tr>
                    <th>Birth Place :</th>
                    <td th:text="${profile.personalDetails.birthplace}"></td>
                </tr>
                <tr>
                    <th>Height      :</th>
                    <td th:text="${profile.personalDetails.height}"></td>
                </tr>
                <tr>
                    <th>Role  :</th>
                    <td th:text="${profile.personalDetails.role}"></td>
                </tr>
                <tr>
                    <th>BatStyle :</th>
                    <td th:text="${profile.personalDetails.batstyle}"></td>
                </tr>
                <tr>
                    <th>BowlStyle :</th>
                    <td th:text="${profile.personalDetails.bowlstyle}"></td>
                </tr>
            </table>
        </div>
        <div class="right">
            <div class="top">
                <h2>Batting Career Summary</h2>
                <table>
                    <thead>
                    <th></th>
                    <th>Matches</th>
                    <th>Runs</th>
                    <th>HighScore</th>
                    <th>Avg</th>
                    <th>SR</th>
                    <th>100</th>
                    <th>50</th>
                    </thead>
                    <tbody>
                    <th>TEST</th>
                    <td th:text="${profile.Batting.matches}">Matches</td>
                    <td th:text="${profile.Batting.runs}">Runs</td>
                    <td th:text="${profile.Batting.highscore}">HighScore</td>
                    <td th:text="${profile.Batting.avg}">Avg</td>
                    <td th:text="${profile.Batting.sr}">SR</td>
                    <td th:text="${profile.Batting.centuries}">100</td>
                    <td th:text="${profile.Batting.halfcenturies}">50</td>
                    </tbody>
                </table>
            </div>
            <div class="bottom">
                <h2>Bowling Career Summary</h2>
                <table>
                    <thead>
                    <th></th>
                    <th>Matches</th>
                    <th>Runs</th>
                    <th>Avg</th>
                    <th>Wickets</th>
                    <th>Economy</th>
                    <th>5W</th>
                    </thead>
                    <tbody>
                    <th>TEST</th>
                    <td th:text="${profile.Bowling.matches}">Matches</td>
                    <td th:text="${profile.Bowling.runs}">Runs</td>
                    <td th:text="${profile.Bowling.avg}">Avg</td>
                    <td th:text="${profile.Bowling.wickets}">Wickets</td>
                    <td th:text="${profile.Bowling.economy}">Economy</td>
                    <td th:text="${profile.Bowling.fivewickethaul}">5W</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>