.Container{
	background: darkcyan;
	margin-left:350px ;
	margin-top: 50px;
	width: 700px;
	height: 500px;
	border-radius: 10px;
	border: 1px solid darkcyan;
}
.Cricinfo{
	border-radius: 5px;
	font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 30px;
color: #FFFFFF;
border: 1px solid white;
width: 120px;
height: 50px;
margin: 30px;
display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-left: 10px;
}
.tablecontainer{
	background: white;
	margin-top: 50px;
	width: 700px;
	height: 70%;
	display: flex;
}
.left{
	margin-left: 50px;
}
.top{
	margin-left: 100px;
}
.bottom{
	margin-left: 100px;
}